<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array/>
	<key>B</key>
	<array/>
	<key>C</key>
	<array>
		<dict>
			<key>name</key>
			<string>陈彬彬</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>15803990753</string>
			<key>motto</key>
			<string>要求的越多,得到的就会越少,学会满足.</string>
			<key>image</key>
			<string>cbb.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>陈辉</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>18611793069</string>
			<key>motto</key>
			<string>思想是不怕子弹的.</string>
			<key>image</key>
			<string>ch.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>崔逢举</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>18637954262</string>
			<key>motto</key>
			<string>不怕路远,只怕心老.</string>
			<key>image</key>
			<string>cfj.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>陈杰</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string> 13027778807 </string>
			<key>motto</key>
			<string>走自己的路让别人去说吧</string>
			<key>image</key>
			<string>cj.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>陈永辉 </string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>18238815137</string>
			<key>motto</key>
			<string>好多年前就把座右铭忘了</string>
			<key>image</key>
			<string>cyh.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>崔洋</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>25</string>
			<key>phoneNumber</key>
			<string>15137109803</string>
			<key>motto</key>
			<string>平淡的生活,平淡的做人,人生也就是如此</string>
			<key>image</key>
			<string>cy.png</string>
		</dict>
	</array>
	<key>D</key>
	<array>
		<dict>
			<key>name</key>
			<string>董明明</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>15839915293</string>
			<key>motto</key>
			<string>哪怕我是一颗小星星,我也要让他发光发亮</string>
			<key>image</key>
			<string>dmm.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>董文武</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>18638760534 </string>
			<key>motto</key>
			<string>有志者事竟成，破釜沉舟，百二秦关终属楚；苦心人天不负，卧薪尝胆，三千越甲可吞吴。
苦心人天不负，卧薪尝胆，三千越甲可吞吴。
苦心人天不负，卧薪尝胆，三千越甲可吞吴。</string>
			<key>image</key>
			<string>dww.png</string>
		</dict>
	</array>
	<key>E</key>
	<array/>
	<key>F</key>
	<array>
		<dict>
			<key>name</key>
			<string>方正刚</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>18638682703</string>
			<key>motto</key>
			<string>惜日辉,流水不归,独不卑</string>
			<key>image</key>
			<string>fzg.png</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>name</key>
			<string>高雷</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>18236936678 </string>
			<key>motto</key>
			<string>一万年太久,只争朝夕</string>
			<key>image</key>
			<string>gl.png</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>name</key>
			<string>郝盼盼</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>25</string>
			<key>phoneNumber</key>
			<string>15565117027</string>
			<key>motto</key>
			<string>你所浪费的今天是昨天已死之人所奢望的明天,你所厌恶的现在是未来的你回不去的曾经</string>
			<key>image</key>
			<string>hpp.png</string>
		</dict>
	</array>
	<key>I</key>
	<array/>
	<key>J</key>
	<array/>
	<key>K</key>
	<array/>
	<key>L</key>
	<array>
		<dict>
			<key>name</key>
			<string>李文强</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>18</string>
			<key>phoneNumber</key>
			<string>18903855700</string>
			<key>motto</key>
			<string>多写码</string>
			<key>image</key>
			<string>lwq.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘爽</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>15093319898</string>
			<key>motto</key>
			<string>思考中......</string>
			<key>image</key>
			<string>ls.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李彦青</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>13838100325</string>
			<key>motto</key>
			<string>不思进取,总有人会取代你</string>
			<key>image</key>
			<string>lyq.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李杨</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>18037133174  </string>
			<key>motto</key>
			<string>别紧张，我又不是什么好人！</string>
			<key>image</key>
			<string>ly.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李邦强</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>18336095116 </string>
			<key>motto</key>
			<string>自己的路要自己去走</string>
			<key>image</key>
			<string>lbq.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string> 李亚东</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>15560297792 </string>
			<key>motto</key>
			<string>坚持</string>
			<key>image</key>
			<string>lyd.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>柳中峰</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>15514189523 </string>
			<key>motto</key>
			<string>男人靠征服世界来征服女人,女人靠征服男人来征服世界</string>
			<key>image</key>
			<string>lzf.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李嘉辉</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>15737925193</string>
			<key>motto</key>
			<string>于是我们奋力向前划,逆流而上的小舟,不停地倒退,进入过去</string>
			<key>image</key>
			<string>ljh.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>芦源</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>13460774966</string>
			<key>motto</key>
			<string>相信自己! </string>
			<key>image</key>
			<string>ly.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string> 李新春 </string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>30</string>
			<key>phoneNumber</key>
			<string>18638029764</string>
			<key>motto</key>
			<string> Life is  short, but seems long when it gets hard,but you can have fun only when it gets hard.</string>
			<key>image</key>
			<string>lxc.png</string>
		</dict>
	</array>
	<key>M</key>
	<array/>
	<key>N</key>
	<array>
		<dict>
			<key>name</key>
			<string>南江力</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>20</string>
			<key>phoneNumber</key>
			<string>13373935725</string>
			<key>motto</key>
			<string>一切问题都是时间的问题,一切烦恼都是自寻烦恼</string>
			<key>image</key>
			<string>njl.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>牛中磊 </string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>25</string>
			<key>phoneNumber</key>
			<string>18238815150  </string>
			<key>motto</key>
			<string>世上无难事，只要肯登攀。</string>
			<key>image</key>
			<string>nzl.png</string>
		</dict>
	</array>
	<key>O</key>
	<array/>
	<key>P</key>
	<array/>
	<key>Q</key>
	<array/>
	<key>R</key>
	<array>
		<dict>
			<key>name</key>
			<string>任璐</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>1833712563</string>
			<key>motto</key>
			<string>随意点</string>
			<key>image</key>
			<string>rl.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>任延鹏</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>21</string>
			<key>phoneNumber</key>
			<string>15993162807</string>
			<key>motto</key>
			<string>别人能做到的,我也能</string>
			<key>image</key>
			<string>ryp.png</string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>name</key>
			<string>孙友志</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>18300672060</string>
			<key>motto</key>
			<string>努力的人运气不会差</string>
			<key>image</key>
			<string>syz.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>盛超</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>15937441136  </string>
			<key>motto</key>
			<string>不忘初心,方得始终</string>
			<key>image</key>
			<string>sc.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>宋士斌 </string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>15393703979</string>
			<key>motto</key>
			<string>没有的是浪费的时间, 只有的是付出的努力</string>
			<key>image</key>
			<string>ssb.png</string>
		</dict>
	</array>
	<key>T</key>
	<array>
		<dict>
			<key>name</key>
			<string>田浩渺</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>26</string>
			<key>phoneNumber</key>
			<string>15137267312</string>
			<key>motto</key>
			<string>岁月你别催,该来的我不推;岁月你别催,走远的我不追</string>
			<key>image</key>
			<string>thm.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>田猛</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>18625911016</string>
			<key>motto</key>
			<string>生于忧患,死于安乐</string>
			<key>image</key>
			<string>田猛.png</string>
		</dict>
	</array>
	<key>U</key>
	<array/>
	<key>V</key>
	<array/>
	<key>W</key>
	<array>
		<dict>
			<key>name</key>
			<string>王硕</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>18203655301</string>
			<key>motto</key>
			<string>天道酬勤</string>
			<key>image</key>
			<string>ws.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>吴振</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>18238815169</string>
			<key>motto</key>
			<string> Lazy is the bridge to decadent</string>
			<key>image</key>
			<string>wz.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>吴丙锋</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>25</string>
			<key>phoneNumber</key>
			<string>15937182895 </string>
			<key>motto</key>
			<string>残酷的现实是不相信眼泪的;</string>
			<key>image</key>
			<string>wbf.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>汪成伟</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>15268594653</string>
			<key>motto</key>
			<string>君子以自强不息</string>
			<key>image</key>
			<string>wcw.png</string>
		</dict>
	</array>
	<key>X</key>
	<array>
		<dict>
			<key>name</key>
			<string>徐玉洋</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>18790425255 </string>
			<key>motto</key>
			<string>且行且珍惜!</string>
			<key>image</key>
			<string>xyy.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>许世龙</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>25</string>
			<key>phoneNumber</key>
			<string>15938708315</string>
			<key>motto</key>
			<string>不要说我们一无所有,满腔的热血已经沸腾</string>
			<key>image</key>
			<string>xsl.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>谢佳男</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>18239912107</string>
			<key>motto</key>
			<string>宝剑锋从磨砺出，梅花香苦自苦寒来。</string>
			<key>image</key>
			<string>xjn.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>席亚坤</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>18317894322  </string>
			<key>motto</key>
			<string> 坚持不一定成功,放弃一定失败</string>
			<key>image</key>
			<string>xyk.png</string>
		</dict>
	</array>
	<key>Y</key>
	<array>
		<dict>
			<key>name</key>
			<string>杨松</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>13137948581 </string>
			<key>motto</key>
			<string>不求做的最好，但求做的更好。</string>
			<key>image</key>
			<string>ys.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string> 于军振</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>18739355172</string>
			<key>motto</key>
			<string>我的要求很小,就是活着</string>
			<key>image</key>
			<string>yjz.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>腰善江  </string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>腰善江  </string>
			<key>motto</key>
			<string>年轻就是在不断的折腾!</string>
			<key>image</key>
			<string>ysj.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>杨倩</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>25</string>
			<key>phoneNumber</key>
			<string>腰善江  </string>
			<key>motto</key>
			<string>年轻就是在不断的折腾!</string>
			<key>image</key>
			<string>yq.png</string>
		</dict>
	</array>
	<key>Z</key>
	<array>
		<dict>
			<key>name</key>
			<string>张天兴</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>18238165727</string>
			<key>motto</key>
			<string>精诚所至,金石为开</string>
			<key>image</key>
			<string>ztx.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>赵振兴</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>27</string>
			<key>phoneNumber</key>
			<string>13838524239</string>
			<key>motto</key>
			<string>无须羡慕,急不来的.</string>
			<key>image</key>
			<string>zzx.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>朱磊</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>15093218865 </string>
			<key>motto</key>
			<string>宁愿丑的个性,不愿美的雷同</string>
			<key>image</key>
			<string>zl.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>周青山</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>15737191560</string>
			<key>motto</key>
			<string> 走别人的路,让别人无路可走</string>
			<key>image</key>
			<string>zqs.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>赵永闯 </string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>15137148098</string>
			<key>motto</key>
			<string>跟着我的心,走着我的路,改变着我的世界</string>
			<key>image</key>
			<string>zyc.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张飞</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>26</string>
			<key>phoneNumber</key>
			<string>15634987239 </string>
			<key>motto</key>
			<string>已经等的太久了</string>
			<key>image</key>
			<string>zf.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张志超 </string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string> 13849191809 </string>
			<key>motto</key>
			<string>天行健,君子以自强不息. 地势坤, 君子以厚德载物</string>
			<key>image</key>
			<string>zzc.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>赵重阳</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>15138156135</string>
			<key>motto</key>
			<string>用漫不经心的态度,过着随遇而安的生活.</string>
			<key>image</key>
			<string>zcy.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>朱军华 </string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>15514530862</string>
			<key>motto</key>
			<string>朝着梦想前进前进前进!</string>
			<key>image</key>
			<string>zjh.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>赵豪豪 </string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>13137947911</string>
			<key>motto</key>
			<string> 低调做人,高调做事</string>
			<key>image</key>
			<string>zhh.png</string>
		</dict>
	</array>
</dict>
</plist>
