<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<dict>
			<key>Name</key>
			<string>安然</string>
			<key>Gender</key>
			<string>女</string>
			<key>Age</key>
			<string>22</string>
			<key>Image</key>
			<string>Anran.png</string>
			<key>Motto</key>
			<string>\(^o^)/~</string>
		</dict>
	</array>
</dict>
</plist>
